*{
   margin: 0; 
}
a{
    text-decoration:none;
    color: white;
}
.navbar{
    display: flex;
    justify-content: center;
    height:17vh;    
    width: 100vw;
    background-color: #333333;
    position: fixed;
}
.nav-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
}
.nav-box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.nav-faixa{
    width: 100%;
    height: 4px;
    background-color: #f76300;
}
.nav-logo{
    width: 25vw;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 30%;
}

li{
    font: 500 23px Roboto, sans-serif;
    color: white;
}
li:hover{
    color: #F76300;
    cursor: pointer;
}
.drop1{
    position: relative;
    display: inline-block;
}
.drop-child{
    display: none;
    position: absolute;
    right: 0vw;
    width: 120px;
    height: 100px;
    background-color: #333333;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.drop1:hover .drop-child{
    animation: dropar-lista 0.1s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.a-lista{
font: 600 23px Archivo, sans-serif;
}
.a-lista:hover{
    color: #F76300;
}
@keyframes dropar-lista{
    from{
        opacity: 0.2;
        background-color: white;
    }to{
        opacity: 1; 
        background-color: #333333;
    }
}