* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}
body{
    background-image: url(./img/fundoLogin.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 a{
     color: white;
 }
 header{
     display: flex;
     justify-content: center;
     height: 12vh;    
     width: 100vw;
     background-color: #333333;
 }
 .header-container{
     display: flex;
     flex-direction: column;
     height: 100%;
     width: 90%;
 }
 .header-box{
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100%;
     width: 100%;
 }
 .header-faixa{
     width: 100%;
     height: 4px;
     background-color: #f76300;
 }
 .header-logo{
     width: 25vw;
 }
 ul{
     display: flex;
     justify-content: space-between;
     list-style-type: none;
     width: 30%;
 }
 
 li{
     font: 500 23px Roboto, sans-serif;
     color: white;
 }
 li:hover{
     color: #F76300;
     cursor: pointer;
 }
 .drop{
     position: relative;
     display: inline-block;
 }
 .drop-child{
     display: none;
     position: absolute;
     right: 0vw;
     width: 120px;
     height: 100px;
     background-color: #333333;
     border-bottom-left-radius: 8px;
     border-bottom-right-radius: 8px;
 }
 .drop:hover .drop-child{
     animation: dropar-lista 0.1s linear;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
 }
 .a-lista{
 font: 600 23px Archivo, sans-serif;
 }
 .a-lista:hover{
     color: #F76300;
 }
 @keyframes dropar-lista{
     from{
         opacity: 0.2;
         background-color: white;
     }to{
         opacity: 1; 
         background-color: #333333;
     }
 }

 .main {
     background-color: rgba(0, 0, 0, 0.800);
     margin-top: 80px;
     height: 430px;
     width: 400px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     border-radius: 10px;
     text-align: center;
 }
 .p-main {
     text-align: center;
     color: #f76300;
     font-size: 25px;
     margin-bottom: 35px;
     font-weight: bold;
     font-style: italic;
 }
 .text-main {
     color: white;
     font-size: 18px;
     text-align: start;
     font-style: italic;
 }
 .label-main {
     color: white;
 }

 .text-main-box {
     text-align: center;
     color: white;
     margin-top: 20px;
    }
 .input-main{
    padding: 6px;
    width: 200px;
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid #f76300;
    background-color: transparent;
 }
 input{
    color: white;
 }
 .main-button {
    font-weight: bold;
    padding: 8px;
    width: 110px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 30px;
    background-color: #f76300;
    color: white;
 }
